{% extends 'base.html' %}

{% block conent %}

    <div class="container">
        <h1>{{blog.name}}</h1>
        나이: {{blog.age}} <br>
        날짜: {{blog.pub_date}} <br>
        이메일: {{blog.email}} <br>
        {% if blog.image %}
        <p><img src="{{blog.image.url}}" alt=""></p>
        {{blog.introduce}}
        <br>
        <a href="{% url 'edit' blog.id %}">Edit</a>
        <a href="{% url 'delete' blog.id %}">Delete</a> <br>
        <a href="{% url 'home' %}">메인 페이지로 돌아가기</a>
    </div>
    {% endblock %}