{% extends 'base.html' %}  

{% block conent %}
    <h1>Signup Project</h1> 
    {% load static %}
    <img src="{% static 'KakaoTalk_20210102_180902428_04.jpg'%}" alt="" width="350" height="450">

    <div>
        <a href="{% url 'new' %}">Write your information</a>
    </div>
    <div class="container">
    {% for blog in blog %}
        <h1>{{blog.name}}</h1>
        {{blog.pub_date}}<br>
        {{blog.age}} <br>
        {{blog.email}} <br>
        {{blog.summary}}

        <a href="{% url 'detail' blog.id %}">...more</a>
    {% endfor %}
  </div>

  {% endblock %}